{% extends "manager/index.html" %}

{% block title %}
    Cadastro sala
{% endblock %}

{% block body %}
    <a href="{% url 'cadastro' %}">CADASTRAR PARTICIPANTE</a><br>
    <a href="{% url 'cadastro_cafe' %}">CADASTRAR ESPAÇO PARA CAFÉ</a><br>

    <br>
    Cadastro de sala para evento:
    <div id=cadastro_sala>
        <form>
            <input type="text" name="nome" placeholder="Nome">
            
            <input type="number" name="quantidade" placeholder="Lotação máxima">

            <input type="submit" value="Cadastrar">
        </form>
    </div>
{% endblock %}