{% extends "manager/index.html" %}

{% block title %}
    Consulta sala
{% endblock %}

{% block body %}
    <a href="{% url 'consulta' %}">CONSULTAR PARTICIPANTE</a><br><br>
    <a href="{% url 'consulta_cafe' %}">CONSULTAR POR ESPAÇO</a>
    <hr>

    {% if attendees %}
        <h2>SALA: {{room_name}}</h2>
        <ul>
            {% for attendee in attendees %}
                <li>{{attendee.name}} {{attendee.last_name}}</li> <br>
            {% endfor %}
        <ul>
    {% else %}
        <h3>Consultar participantes por sala de evento:</h3>
        <div id=consulta_sala>
            <form action="{% url 'consulta_sala' %}" method="post">
                
                <select name=name>
                    {% for room in rooms %}
                    <option value="{{room.name}}">{{room.name}}</option>
                    {% endfor %}
                </select>
                <br><br>
                <input type="submit" value="Consultar participantes">
            </form>
        </div>
    {% endif %}
{% endblock %}